@page "/"

@using Domain.Dto
@using Domain.Enums

@inject IJSRuntime JS

@rendermode InteractiveServer

<PageTitle>Tareas</PageTitle>
<p class="h1 text-primary">Tareas</p>

<p class="h3 text-secondary">Nueva tarea</p>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Título</span>
    </div>
    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" @bind=todoModel.Title>
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Descripción</span>
    </div>
    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" @bind=todoModel.Description>
</div>

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

<Button class="btn btn-success mb-3" @onclick="AddTodo">Añadir</Button>

<hr>

<Button class="btn btn-warning mb-3" @onclick="AutoGenerate">Autogenerar</Button>

<hr>

@if (todoList == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <Button class="btn btn-danger mb-3" @onclick="RemoveSelectedTodos">Eliminar seleccionados</Button>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Título</th>
                <th>Descripción</th>
                <th>¿Bloqueado?</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (TodoDto todoDto in todoList)
            {
                <tr class="@(todoDto.IsBlocked ? "bg-secondary text-white" : "")">
                    <td class="text-center">
                        <input type="checkbox" @bind=todoDto.IsSelected />
                    </td>
                    <td>@todoDto.Title</td>
                    <td>@todoDto.Description</td>
                    <td class="text-center">
                        <Button class="btn btn-primary" @onclick="() => ToggleBlockingTodo(todoDto)">@(todoDto.IsBlocked ? "Si" : "No")</Button>
                    </td>
                    <td class ="text-center">
                        <Button class="btn btn-primary btn-sm" @onclick="() => NextPhase(todoDto)" disabled="@(todoDto.IsBlocked || todoDto.Phase >= TodoPhase.COMPLETED)">@GetDisplayName(todoDto.Phase)</Button>
                    </td>
                    <td class="text-center">
                        <Button class="btn btn-danger btn-sm" @onclick="() => RemoveTodo(todoDto)">-</Button>
                    </td>
                </tr>
            }
        </tbody>       
    </table>
}
